.parallax-container {
	height: 200px;
}

.promo {
    cursor: pointer;
}

.promo div {
    margin-top: 38%;
    font-family: "Roboto", sans-serif;
}

#promo-wacky {
    background-size: cover;
    background: url(../img/games/wacky_races.png) no-repeat center;
}

#promo-skillshot {
    background-size: cover;
    background: url(../img/games/skillshot.jpg) no-repeat center;
}

.member img {
    border: 3px solid #263238;
}

.footer-img {
    float: left;
    width: 100px;
    padding: 3px;
    margin-top: 13px;
}

.icon-discord {
    background-size: 100%;
    background-size: contain;
    background-position: center center;
    vertical-align: top;
    background-image: url(../img/Phochs/Ideas/Discord.png);
    background-repeat: no-repeat;
    height: 250px;
}

.icon-twitch {
    background-size: 100%;
    background-size: contain;
    background-position: center center;
    vertical-align: top;
    background-image: url(../img/Phochs/Ideas/Twitch.png);
    background-repeat: no-repeat;
    height: 250px;
}

.icon-github {
    background-size: 100%;
    background-size: contain;
    background-position: center center;
    vertical-align: top;
    background-image: url(../img/Phochs/Ideas/Github.png);
    background-repeat: no-repeat;
    height: 250px;
}